<div class="form">
    <mat-card class="card">
        <mat-card-title>Login</mat-card-title>      

        <div *ngIf="errorMessagge">
            <div class="alert alert-danger" role="alert">
                <div>
                    {{errorMessagge}}
                </div>
                <button type="button" class="close" (click)="xAlert()" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        </div>

        <mat-card-content>
            <div class="container">                
                <mat-form-field>
                    <input [(ngModel)]="loginData.email" placeholder="Email" matInput required>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="loginData.password" placeholder="Password" matInput required>
                </mat-form-field> 
            </div>           
        </mat-card-content>

        <mat-card-actions>
            <button (click)="login()" class="button" mat-raised-button>Go !!</button>
        </mat-card-actions>

    </mat-card>
</div>
